---
layout: default
---
  {% include header.html %}
  {% include banner.html %}
<h3 align="center">Spellcheck in Progress</h3>

  <main class="page-content" aria-label="Content">
  <section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>
  </main>

  {% include pagination.html %}

  {% include newsletter.html %}

<section class="author cf">
    <div class="post_wrapper" style="font-size:  0.9rem;">
      <div class="author_image">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{ site.author-pic }}{% endif %}" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Sunil Patel{% endif %}</h2>
        <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %} I'm Sunil Patel, to me working with Deep Learning is a part of hobby more than just a "job". With this blog, I am keeping all my experience with AI open to entire Community. #DeepLearningEnthusiastic #Opportunistic {% endif %}</p>
        <div class="author_social">
          {% if site.email %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{site.email}}</a></span>
          {% else %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:snlpatel001213@hotmail.com">snlpatel001213@hotmail.com</a></span>
          {% endif %}

          {% if site.phone %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a></span>
          {% else %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+91-886-633-6960">+91-886-633-6960</a></span>
          {% endif %}

          {% if site.website %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="{{site.website}}" target="_blank">{{site.website}}</a></span>
          {% else %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="#" target="_blank">https://learningdeep.xyz</a></span>
          {% endif %}
        </div>
      </div>
    </div>
  </section> <!-- End Section Author -->

  <!--{% include footer.html %}-->
